.outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.gridsquare{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-size: large;
}